<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/20190919_백준알고리즘기초_4.다이나믹프로그래밍소개/src/Fibonacci_다이나믹프로그래밍.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Fibonacci_다이나믹프로그래밍"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="20190919_백준알고리즘기초_4.다이나믹프로그래밍소개"/>
</launchConfiguration>
