<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/20190730_4.그리디알고리즘 문제들/src/Greedy_1439.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Greedy_1439"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="20190730_4.그리디알고리즘 문제들"/>
</launchConfiguration>
