<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/20190918_백준알고리즘기초_3.수학_1/src/최대공약수_세개의수일경우_유클리드호제법.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="최대공약수_세개의수일경우_유클리드호제법"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="20190918_백준알고리즘기초_3.수학_1"/>
</launchConfiguration>
